 <div class="modal bg-smoke-light fixed w-full
 					  h-full top-0 left-0 flex items-center justify-center
 					  opacity-0 pointer-events-none" 
 		 				data-target="projects.modal">
 	
		<div class="modal-content relative w-1/4 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
			<span class="cursor-pointer absolute" 
						data-action="click->projects#closeModal"
						style="top: 15px; right: 15px;">
				<i class="fas fa-times"></i>
			</span>

			<h3 class="text-3xl text-center mb-4 font-bold">New Project</h3>
			<%= render 'projects/modal/project_form', project: project %>
		</div>
 </div>