form {
  input,
  textarea {
    padding: 10px;
    border-radius: 0.333rem;
  }

  div.image-inputs {
    position: relative;

    input[type='file'] {
      display: none;
    }

    label.file {
      display: block;
      width: 100%;
      height: 10rem;
      border-radius: 0.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px 0 rgba(0, 0, 0, 0.06);
      background-color: #e2e8f0;
      font-weight: 700;
      cursor: pointer;
      transition: all 0.2s ease-out;

      &:hover {
        background-color: #cbd5e0;
      }
    }

    img[src=''] {
      display: none;
    }

    #image-preview {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer;
      border-radius: 0.25rem;
      transition: all 0.2s ease-out;

      &:hover {
        filter: brightness(70%);
      }
    }
  }

  textarea {
    resize: none;
    height: 14rem;
    font-size: 1.125rem;
  }

  textarea:focus,
  input:focus {
    outline: none !important;
  }

  #abyme--participants {
    .remove-participant {
      cursor: pointer;
    }

    button {
      width: 100%;
      border-style: solid;
      border-radius: 0.25rem;
      border-width: 2px;
      height: 40px;

      &:focus {
        outline: none !important;
      }
    }
  }

  #abyme--comments {
    .comment {
      margin-bottom: 5px;
    }

    button {
      width: 100%;
      border-style: solid;
      border-radius: 0.25rem;
      border-width: 2px;
      height: 40px;

      &:focus {
        outline: none !important;
      }
    }
  }
}
